.navigation {
  padding: 20px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.link:not(:last-child) {
  margin-right: 40px;
}

.link:focus,
.link:hover {
  color: var(--bright-accent);
}

.activeLink {
  composes: link;
  color: var(--bright-accent);
}
